<form action="/login" method="post">
	<p>
		<label>Username:</label>
		<input type="text" name="username" /><br />
	</p>
	<p>
		<label>Password:</label>
		<input type="password" name="password" />
	</p>
	<p>
		<input type="submit" value="Submit" />
	</p>
</form>